.grid-catalog {
	font-size: 0;
}

.item {
	font-size: 16px;

	text-align: center;
	display: inline-block;

	width: 30%;
	height: 100px;

	margin: 1%;

	border: 2px solid black;
	background-color: lightgreen;
	box-sizing: border-box;
}

.item:nth-child(3n) {
	margin-right: 0;
}

.item:nth-child(3n + 1) {
	margin-left: 0;
}

@media (max-width: 1024px) {
	.item {
		width: 48%;
		margin: 1%;
	}

	.item:nth-child(3n) {
		margin-right: 1%;
	}

	.item:nth-child(3n + 1) {
		margin-left: 1%;
	}

	.item:nth-child(2n) {
		margin-right: 0;
	}

	.item:nth-child(2n + 1) {
		margin-left: 0;
	}
}

@media (max-width: 768px) {
	.item {
		width: 98%;
		margin-block: 1%;
	}

	.item:nth-child(3n) {
		margin: 1%;
	}

	.item:nth-child(3n + 1) {
		margin: 1%;
	}

	.item:nth-child(2n) {
		margin: 1%;
	}

	.item:nth-child(2n + 1) {
		margin: 1%;
	}
}

.button {
	float: right;
	display: inline-block;

	padding: 10px;
	margin-top: 30px;

	border: 1px solid black;
	border-radius: 10px;
	background-color: lightcoral;

	opacity: 1;
	transition-duration: 0.2s;
}

.button:hover {
	opacity: 0.7;

	transition-duration: 0.2s;
}

.button--add {
	display: inline-block;

	padding: 10px;
	margin-top: 30px;

	border: 1px solid black;
	border-radius: 10px;
	background-color: lightcoral;

	opacity: 1;
	transition-duration: 0.2s;
}

.button--add:hover {
	opacity: 0.7;

	transition-duration: 0.2s;
}

.list {
	.item {
		width: 98%;
		height: 100px;

		font-size: 16px;

		text-align: center;
		display: inline-block;

		margin: 1%;

		border: 2px solid black;
		background-color: lightgreen;
		box-sizing: border-box;
	}
}
