.container{
  margin-top: 30px;
  margin-left: 50px;
}

.fromUpload{
  margin-bottom: 100px;
}

.imagesOnPage{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  justify-content: space-between;
  align-items: center;

  gap: 30px;
}
